@using CheeseMVC.Models;
@using CheeseMVC.ViewModels;
@model AddMenuItemViewModel

@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}
<h1>@ViewBag.Title</h1>

<form method="post" asp-controller="Menu" asp-action="AddItem">

    <label asp-for="@Model.CheeseID"></label>
    <select asp-for="@Model.CheeseID" asp-items="@Model.Cheeses"></select>
    <span asp-validation-for="@Model.CheeseID"></span>

    <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
    <p>
        <input type="submit" value="Add Item" />
    </p>
</form>